ul#contextMenu{
    position: absolute;
    display: inline-block;
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 0;
    margin: 0;
    box-shadow: -10px 5px 15px rgba(0,0,0,.2);
    transition: 0.2s;
    transform-origin: top left;
  transform: scale(0);
  z-index: 5000 ;
  overflow: visible ;
}
li.menuItems{
    padding: 10px;
    padding-left: 25px;
    cursor: pointer;
    transition: 0.2s;
    list-style-type: none;
}
li.menuItems:hover{
    background-color: #ccc;
}