body { background-color:white;} 
h1.Websitename {color:black; text-align:center; font-family:fantasy; font-size=100pt;} 
.container {
    position: relative;
    width: 50%;
    /* border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 60%;
    margin-left: -3px;
    top: 0; */
    }
.container .img {
    width: 1500;
    height: 200;
        }
.container .Genre {
    position: absolute;
    top: 15%;
    left: 7%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: brown;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
        }
.container .Biography {
    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: brown;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
        }
.container .Fiction {
    position: absolute;
    top: 15%;
    left: 33%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: brown;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
        }
.container .Romance {
    position: absolute;
    top: 15%;
    left: 46%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: brown;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
        }
.container .Horror {
    position: absolute;
    top: 15%;
    left: 59%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: brown;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
        }
.container .Mystery {
    position: absolute;
    top: 15%;
    left: 72%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: brown;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
        }
.container .Search {
    position: absolute;
    top: 15%;
    left: 190%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: darkgrey;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
        }
.container .Searchbox{
    position: absolute;
    top: 15%;
    left: 165%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: text;
    border-radius: 5px;
}

.container .su {
    position: absolute;
    top: 75%;
    left: 190%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: darkgrey;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
        }
    
.container .li {
    position: absolute;
    top: 75%;
    left: 175%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: darkgrey;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
        }
        

.News { 
        color:indianred;
        text-align:right;
    }
.Sell{ color:indianred; text-align:center; border-right: solid 1px #f00; }
.links{
        color:beige; text-align:right;
        }	
.hb { color:beige; display:inline;}

table { border-collapse:collapse; }
tr { border:none; }
.col1 { border-right: solid 1px #f00; }

/* <!-- img.Bookimg {  --> */
     
#vishy{
    width: 1519px;
    height: 500px;
    }
    #slider{
    width: 1480px;
    height: 500px;
    /* margin: 20px auto; */
    position: relative;
    /* border: 10px solid white;
    box-shadow: 0px 0px 5px 2px #ccc; */
    }
    #pi,#ni{
    padding: 20px;
    border: none;
    background: #37f;
    font-size: 30px;
    color: white;
    position: absolute;
    top:45%;
    cursor: pointer;
    }
    
    .next{
    border-radius: 10px 0px 0px 10px;
    margin-left: 1458px;
    }
    .prew{
    border-radius: 0px 10px 10px 0px;
    }
ul#contextMenu{
    position: absolute;
    display: inline-block;
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 0;
    margin: 0;
    box-shadow: -10px 5px 15px rgba(0,0,0,.2);
    transition: 0.2s;
    transform-origin: top left;
    transform: scale(0);
    z-index: 5000 ;
    overflow: visible ;
}
li.menuItems{
    padding: 10px;
    padding-left: 25px;
    cursor: pointer;
    transition: 0.2s;
    list-style-type: none;
}
li.menuItems:hover{
    background-color: #ccc;
}
    